<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="routeDefinitionPagePanelwxSmith">
		<font>
			<size>16</size>
			<style>normal</style>
			<weight>bold</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Sans</face>
		</font>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="routeName" member="yes">
							<label>ROUTE No.</label>
							<font>
								<size>24</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Sans</face>
							</font>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_RouteValue" variable="routeValue" member="yes">
							<label>&lt; 1/19 &gt;</label>
							<font>
								<size>16</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Sans</face>
							</font>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer9" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_commentValue" variable="commentValue" member="yes">
							<label>Comment Field</label>
							<font>
								<size>18</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Sans</face>
							</font>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="indexNameBS" member="no">
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer17" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="wpNumberName" member="yes">
											<label>NO</label>
											<font>
												<size>20</size>
												<style>normal</style>
												<weight>bold</weight>
												<underlined>1</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer18" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="wpnmHeading" member="yes">
											<label>WAYPNT</label>
											<font>
												<size>20</size>
												<style>normal</style>
												<weight>bold</weight>
												<underlined>1</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>5</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer19" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst1" variable="dstValue1" member="yes">
											<label>DST</label>
											<font>
												<size>20</size>
												<style>normal</style>
												<weight>bold</weight>
												<underlined>1</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>3</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer20" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT14" variable="dtkName" member="yes">
											<label>DTK</label>
											<font>
												<size>20</size>
												<style>normal</style>
												<weight>bold</weight>
												<underlined>1</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>3</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>10</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="upBS" member="no">
							<object class="sizeritem">
								<object class="wxPanel" name="ID_up" variable="Panel1" member="yes" />
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="listBS" member="no">
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer8" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT11" variable="num1" member="yes">
											<label>__</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT10" variable="num2" member="yes">
											<label>__</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT19" variable="num3" member="yes">
											<label>__</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT20" variable="num4" member="yes">
											<label>__</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT21" variable="num5" member="yes">
											<label>__</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT22" variable="num6" member="yes">
											<label>__</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer6" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_wpValue1" variable="wpValue1" member="yes">
											<label>wp1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_wpValue2" variable="wpValue2" member="yes">
											<label>wp1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_wpValue3" variable="wpValue3" member="yes">
											<label>wp1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_wpValue4" variable="wpValue4" member="yes">
											<label>wp1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_wpValue5" variable="wpValue5" member="yes">
											<label>wp1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_wpValue6" variable="wpValue6" member="yes">
											<label>wp1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>5</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer5" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst2" variable="dstValue2" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst3" variable="dstValue3" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst4" variable="dstValue4" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst5" variable="dstValue5" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst6" variable="dstValue6" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dst7" variable="dstValue7" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>3</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer7" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dtk1" variable="dtkValue1" member="yes">
											<label>dtk1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dtk2" variable="dtkValue2" member="yes">
											<label>dtk1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dtk3" variable="dtkValue3" member="yes">
											<label>dtk1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dtk4" variable="dtkValue4" member="yes">
											<label>dtk1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dtk5" variable="dtkValue5" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_dtk6" variable="dtkValue6" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>3</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>50</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="downBS" member="no">
							<object class="sizeritem">
								<object class="wxPanel" name="ID_down" variable="Panel2" member="yes" />
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer4" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer10" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT8" variable="totalDSTName" member="yes">
									<label>TOTAL DST</label>
									<font>
										<size>18</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Sans</face>
									</font>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer11" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT9" variable="totalDstValue" member="yes">
									<label>3.70</label>
									<font>
										<size>18</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Sans</face>
									</font>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE4" variable="StaticLine4" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer12" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer13" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_copyToName" variable="copyToName" member="yes">
									<label>Copy to: </label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_copyToValue" variable="CopyToValue" member="yes">
									<label>__ __ __</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer14" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_clr" variable="clrName" member="yes">
									<label>CLR?</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_inv" variable="invName" member="yes">
									<label>INV?</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_act" variable="actName" member="yes">
									<label>ACT?</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
